/* html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-size: 18px;
} */

h1 {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
  text-align: center;
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.wrapper {
  max-width: 1200px;
  padding: 0 16px;
  margin: auto;
}

.navbar {
  padding: 20px;
  margin-bottom: 20px;
  background: #fac3bb;
  display: flex;
  justify-content: space-between;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
  text-align: center;
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
}

.navbar .create {
  color: #000;
  font-size: 1.5rem;
}

.navbar .navbar-brand {
  color: #000;
  font-size: 2rem;
}

.navbar-brand:hover,
create:hover {
  color: black;
}

.form-container {
  width: 400px;
  margin: 20px auto;
}

.note-container {
  text-align: center;
  margin-top: 20px;
  /* float: right; */
  padding-right: 30px;
  font-size: 1.3em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 12px;
}

.left-box {
  width: 15%;
  /* border: solid; */
  float: left;
}

.right-box {
  width: 80%;
  /* border: solid; */
  float: right;
}

.sidebar {
  width: 100%;
  padding: 10px;
  border-right: solid;
  border-color: black;
}

/* .sidebar .sidebar-create {
  width: 100%;
  color: red;
} */

.sidebar a {
  display: block;
  font-size: 1.5em;
  margin: 8px;
  color: black;
  /* border-bottom: solid; */
  /* border-bottom-width: 1px; */
}
